/*
・ボックスモデルを意識
　margin border padding contentereaを確認。それぞれ何ｐxか。
　親要素のcontentereaを意識。
　子要素のマージンを含めたボックスが、親要素のcontenterea内に存在する。
　
・ブロック要素？インライン要素？を意識
　用途に応じてインラインブロック要素にし、縦幅・横幅を指定できるインライン要素へ。

・子要素を横並びにする場合は、親要素にdisplay:frexを追加。
　その際、子要素の横幅指定を忘れずに。

・擬似クラスのhoverを用いて、洗濯している候補や品種をわかりやすくする。
　その際、擬似クラスではない本来のクラスのtransitionプロパティで、変化の様子を指定。

・見出しを工夫する。
　borderで囲む、背景色をつける等。
　
・親要素を中央に表示したければ、横幅指定、margin:0 auto;で左右のマージンを均等に。

・レスポンシブデザインに対応させる。
　細かな表示切り替えが必要なので、
　Bootstrapで大まかに作る　→　cssでメディアクエリについて記述する。テキスト５．２参照。

*/
.icon {
    padding-bottom:0.1rem;
    margin-right:0.1rem;
}

.navbar {
     padding:0 .5rem;   
}

.background-1 {
     background-image:linear-gradient(-45deg, #DAE9EE 25%, #FFFEF9 25%, #FFFEF9 50%, #DAE9EE  50%, #DAE9EE 75%, #FFFEF9 75%, #FFFEF9);
     background-size: 40px 40px;
}

.background-2 {
     background-image:linear-gradient(-45deg, #f9f8f7 25%, #ffffff 25%, #ffffff 50%, #f9f8f7  50%, #f9f8f7 75%, #ffffff 75%, #ffffff); 
     background-size: 20px 20px;
}

.catchcopy {
    position:absolute;
    color:black;
    font-weight:800;
    top:6%;
    left:2%;
    border-color:gold;
    background-color:rgba(255,250,240,0.2);
    border-top-style:solid;
    border-bottom-style:solid;
}

.publication {
    position:absolute;
    font-weight:800;
    top:46%;
    left:5%;
    background:ghostwhite;
    box-shadow:0px 0px 0px 5px tan;
    border:dashed 1px black;
}

.count {
    color:orangered;
    font-size:1.5rem;
}

.thumbtack-1 {
    position:absolute;
    top:-12%;
    left:-3%;
    transform: rotate(-22deg);
}

.thumbtack-2 {
    position:absolute;
    top:-12%;
    left:90%;
    transform: rotate(22deg);
}

.top-image {
    width:100%;
}

.title {
    position:relative;
}

.title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.1rem;
    width: 100%;
    height: 5px;
    background: -webkit-repeating-linear-gradient(-45deg, green, #6ad1c8 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, green, #6ad1c8 2px, #fff 2px, #fff 4px);
}

.container {
    padding:0;
}

.search-form {
    width:78%;
    height:2rem;
}

.search-btn {
    vertical-align:top;
    width:20%;
    height:2rem;
    padding:0;
}

.btn-bg {
    background-color:transparent;
}

.category-container {
    margin-left:auto;
    margin-right: auto;
}

.category {
    position:relative;
    z-index:1;
}

.link {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:2
}

.popularityvariety {
    position:relative;
}

.popularityvariety-name {
    font-size:.7rem;
    position:absolute;
    top:3%;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.search-show {
     background-color:snow;
     border-style:solid;
     border-color:darkseagreen;
}

.hide {
    display:none;
}

input[type = radio] {
    display:none;
}

.sort-select-l1 {
    font-size:1rem;
    border-style:solid;
    border-color:darkseagreen;
    background-color:snow;
}

.sort-select-l2 {
    font-size:1rem;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-color:darkseagreen;
    background-color:snow;
}

.search-sort {
    background-color:powderblue; 
    width:73%;
}

.reset {
    background-color:silver; 
    width:25%;
}

.table > tbody > tr > th{
    border:1px solid gray;
}

.table > tbody > tr > td{
    border:1px solid gray;
}